<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.ziph0n.vertical</string>
			<key>showVersion</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.vertical</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.ziph0n.vertical/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.ziph0n.vertical</string>
			<key>key</key>
			<string>playerStyle</string>
			<key>validValues</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			<key>validTitles</key>
				<array>
					<string>Dark</string>
					<string>Light</string>
					<string>Transparent</string>
				</array>
			<key>PostNotification</key>
			<string>com.ziph0n.vertical/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Player Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.ziph0n.vertical</string>
			<key>key</key>
			<string>playerWidth</string>
			<key>label</key>
			<string>Player Width</string>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>150</real>
			<key>PostNotification</key>
			<string>com.ziph0n.vertical/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>icon</key>
			<string>email.png</string>
			<key>label</key>
			<string>Email Support</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter (@Ziph0n)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>Find me on Reddit (/u/Ziph0n)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2015-2016 Ziph0n (@Ziph0n)</string>
		</dict>
	</array>
	<key>title</key>
	<string>Vertical</string>
</dict>
</plist>
